<div class="flex justify-between">
  <div class="sm:ml-6">
    <h1 class="text-3xl text-slate-300 mt-24 ml-8 sm:text-5xl md:text-7xl lg:text-8xl
    ">Buy &</h1>
    <h1 class="text-3xl text-slate-300 mt-4 ml-8 sm:text-5xl md:text-7xl lg:text-8xl">Sell <span class="text-orange-600">Crypto</span></h1>
  </div>
  <div class="flex">
    <div class=" w-28 mt-20 sm:w-40 sm:mr-4 md:w-60 md:mt-15 lg:w-72 lg:mt-10">
      <img src="../assets/R.png" alt="">
    </div>
    <div class=" w-28 mt-20 sm:w-40 sm:mr-4 md:w-60 md:mt-15 lg:w-72 lg:mt-10">
      <img src="../assets/dg.webp" alt="">
    </div>
  </div>
</div>
<div class="lg:justify-between lg:flex lg:mt-16 ml-10 text-3xl font-serif mr-10 mt-4 ">
  <div class="text-white flex border border-blue-950 shadow shadow-orange-400 p-3 pl-10 mb-4 rounded-xl">
    <img  src="../assets/bitcoin.png" alt="">
    <h1 class="text-2xl font-thin pt-8 p-5">{{bitcoin.bitcoin.usd}}$</h1>
</div>
<div class="text-white flex border border-blue-950 shadow shadow-orange-400 p-3 pl-10 mb-4 rounded-xl">
    <img  src="../assets/dogecoin.png" alt="">
    <h1 class="text-2xl font-thin pt-8 p-5">{{dogecoin.dogecoin.usd}}$</h1>
</div>
<div class="text-white flex border border-blue-950 shadow shadow-orange-400 p-3 pl-10 mb-4 rounded-xl">
    <img  src="../assets/ethereum.png" alt="">
    <h1 class="text-2xl font-thin pt-8 p-5">{{etherium.ethereum.usd}}$</h1>
</div>
</div>