<nav>
  <div class="flex">
    <div class="m-5 mt-8 w-72">
      <img src="../assets/logo.png" alt="">
    </div>
    <div class="text-slate-300 mt-9 text-2xl sm:mt-12 sm:text-2xl sm:ml-1 md:text-3xl md:top-8  lg:top-8 xl:top-8 xl:p">
      <h1>Greetings EveryOne. You can See Here the Real Price of Crypto Currency</h1>
    </div>
  </div>
  <div class="flex pl-32 mt-3">
    <a routerLink="/" class="text-blue-900 text-xl font-semibold pl-7 sm:text-2xl sm:pl-24 sm:top-7 md:text-3xl lg:pl-36 xl:pl-52 hover:text-blue-700 focus:text-blue-700">Home</a>
    <a routerLink="stocks" class="text-blue-900 text-xl font-semibold pl-7 sm:text-2xl md:text-3xl hover:text-blue-700 focus:text-blue-700">Stock</a>
  </div>
  <router-outlet></router-outlet>
</nav>